samples/nodered/flows_beaglebone.json
[{"type":"tab","id":"4c2a00fb.b3d6","label":"SensorTag Quickstart"},{"id":"afd3ea75.502c18","type":"sensorTag","name":"TI SensorTag","topic":"sensorTag","uuid":"","temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":false,"x":140,"y":191,"z":"4c2a00fb.b3d6","wires":[["392ffa8a.c6d006","73c7456.f8c38bc"]]},{"id":"392ffa8a.c6d006","type":"function","name":"tagData merge","func":"\nif (!context.hasOwnProperty(\"tagData\")) {\n    context.tagData = {};\n    context.tagData.d = {};\n}\n\nvar tagData = context.tagData;\n\nswitch (msg.topic) {\n    case \"trigger\":\n        // only send tagData when all values have been populated\n        if (tagData.d.pressure &&\n            tagData.d.humidity &&\n            tagData.d.gyroX &&\n            tagData.d.magX &&\n            tagData.d.accelX &&\n            tagData.d.ambientTemp) {\n            return { topic: \"tagData\", payload: tagData };\n        }\n        break;\n        \n    case \"sensorTag/pressure\":\n        tagData.d.pressure = msg.payload.pres;\n        break;\n    \n    case \"sensorTag/humidity\":\n        tagData.d.humidity = msg.payload.humidity;\n        tagData.d.temp = msg.payload.temp;\n        break;\n        \n    case \"sensorTag/gyroscope\":\n        tagData.d.gyroX = msg.payload.x;\n        tagData.d.gyroY = msg.payload.y;\n        tagData.d.gyroZ = msg.payload.z;\n        break;\n        \n    case \"sensorTag/magnetometer\":\n        tagData.d.magX = msg.payload.x;\n        tagData.d.magY = msg.payload.y;\n        tagData.d.magZ = msg.payload.z;\n        break;    \n        \n    case \"sensorTag/accelerometer\":\n        tagData.d.accelX = msg.payload.x;\n        tagData.d.accelY = msg.payload.y;\n        tagData.d.accelZ = msg.payload.z;\n        break;    \n    \n    case \"sensorTag/temperature\":\n        tagData.d.ambientTemp = msg.payload.ambient;\n        tagData.d.objectTemp = msg.payload.object;\n        break;\n        \n    case \"sensorTag/keys\":\n        // not sending keys\n        break;\n        \n    default:\n        console.log(\"unexpected topic: \" , msg.topic);\n        break;\n}\n\nreturn null;\n","outputs":1,"x":375,"y":201,"z":"4c2a00fb.b3d6","wires":[["e4d5e6db.1b2a18","83b4da91.7c4b28"]]},{"id":"e4d5e6db.1b2a18","type":"debug","name":"","active":false,"console":false,"complete":false,"x":531,"y":91,"z":"4c2a00fb.b3d6","wires":[]},{"id":"77cebace.883144","type":"inject","name":"transmit interval","topic":"trigger","payload":"","payloadType":"none","repeat":"1","crontab":"","once":false,"x":170,"y":115,"z":"4c2a00fb.b3d6","wires":[["392ffa8a.c6d006"]]},{"id":"73c7456.f8c38bc","type":"debug","name":"","active":false,"console":false,"complete":false,"x":368,"y":286,"z":"4c2a00fb.b3d6","wires":[]},{"id":"83b4da91.7c4b28","type":"iot out","name":"IoT Cloud QuickStart","deviceId":"","messageType":"titag-quickstart","x":618,"y":192,"z":"4c2a00fb.b3d6","wires":[]}]