samples/nodered/flows_beaglebone.json
[{"type":"tab","id":"4c2a00fb.b3d6","label":"SensorTag Quickstart"},{"id":"8c666f1e.73999","type":"mqtt-broker","broker":"messaging.quickstart.internetofthings.ibmcloud.com","port":"1883","clientid":"quickstart:1cba8ca305be"},{"id":"8dfb7dac.72048","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"xxyyzz"},{"id":"afd3ea75.502c18","type":"sensorTag","name":"sensorTag","topic":"sensorTag","uuid":"","temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":true,"x":133,"y":2887,"z":"4c2a00fb.b3d6","wires":[["392ffa8a.c6d006","73c7456.f8c38bc"]]},{"id":"392ffa8a.c6d006","type":"function","name":"tagData merge","func":"\nif (!context.hasOwnProperty(\"tagData\")) {\ncontext.tagData = {};\ncontext.tagData.d = {};\n}\n\nif (!context.hasOwnProperty(\"topic\")) {\n\tcontext.global.getmac.getMac(function(err, mac) {\n\t\tif (err) throw err;\n\t\tvar deviceId = mac.replace(/:/g, '');\n  \t\tcontext.topic = \"iot-1/d/\" + deviceId + \"/evt/titag-quickstart/json\";\n  \t\t} );\n}\n\nvar tagData = context.tagData;\n\nswitch (msg.topic) {\n    case \"trigger\":\n \t\t// only send full tagData\n \t\tif (tagData.d.pressure &&\n \t\t\ttagData.d.humidity &&\n \t\t\ttagData.d.gyroX &&\n \t\t\ttagData.d.magX &&\n \t\t\ttagData.d.accelX &&\n \t\t\ttagData.d.ambientTemp) {\n    \t return { topic: context.topic, payload: tagData };\n    \t}\n    \tbreak;\n    \t\n\tcase \"sensorTag/pressure\":\n\t\ttagData.d.pressure = msg.payload.pres;\n\t\tbreak;\n\t\n\tcase \"sensorTag/humidity\":\n\t\ttagData.d.humidity = msg.payload.humidity;\n\t\ttagData.d.temp = msg.payload.temp;\n\t\tbreak;\n\t\t\n\tcase \"sensorTag/gyroscope\":\n\t\ttagData.d.gyroX = msg.payload.x;\n\t\ttagData.d.gyroY = msg.payload.y;\n\t\ttagData.d.gyroZ = msg.payload.z;\n\t\tbreak;\n\t\t\n\tcase \"sensorTag/magnetometer\":\n\t\ttagData.d.magX = msg.payload.x;\n\t\ttagData.d.magY = msg.payload.y;\n\t\ttagData.d.magZ = msg.payload.z;\n\t\tbreak;\t\n\t\t\n\tcase \"sensorTag/accelerometer\":\n\t\ttagData.d.accelX = msg.payload.x;\n\t\ttagData.d.accelY = msg.payload.y;\n\t\ttagData.d.accelZ = msg.payload.z;\n\t\tbreak;\t\n\t\n\tcase \"sensorTag/temperature\":\n\t\ttagData.d.ambientTemp = msg.payload.ambient;\n\t\ttagData.d.objectTemp = msg.payload.object;\n\t\tbreak;\n\t\t\n\tcase \"sensorTag/keys\":\n\t\t// not sending keys\n\t\tbreak;\n\t\t\n\tdefault:\n\t\tconsole.log(\"unexpected topic: \" , msg.topic);\n\t\tbreak;\n}\n\nreturn null;","outputs":1,"x":366,"y":2898,"z":"4c2a00fb.b3d6","wires":[["e4d5e6db.1b2a18","bc82f23a.437d1"]]},{"id":"e4d5e6db.1b2a18","type":"debug","name":"","active":true,"console":false,"complete":false,"x":522,"y":2788,"z":"4c2a00fb.b3d6","wires":[]},{"id":"77cebace.883144","type":"inject","name":"transmit interval","topic":"trigger","payload":"","payloadType":"none","repeat":"1","crontab":"","once":false,"x":201,"y":2774,"z":"4c2a00fb.b3d6","wires":[["392ffa8a.c6d006"]]},{"id":"bc82f23a.437d1","type":"mqtt out","name":"iot-quickstart","topic":"","broker":"8c666f1e.73999","x":607,"y":2884,"z":"4c2a00fb.b3d6","wires":[]},{"id":"73c7456.f8c38bc","type":"debug","name":"","active":false,"console":false,"complete":false,"x":359,"y":2983,"z":"4c2a00fb.b3d6","wires":[]}]